header {
   height: 75px;
   background-color: #2e3a46;
}
main {
   height: calc(100vh - 75px);
   background-color: #1e2d3b;
}
/* HEADER */
header img {
   height: 80%;
   margin-left: 10px;
}

/* CARD */
.row .col-1-5{
   flex: 0 0 auto;
   width: 20%;
}
.card-song {
   background-color: #2e3a46;
   padding: 15px;
   height: 100%;
}
/* CARD TEXT */
p {
   margin: 0;
}
.song-title {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 21px;
   color: #fff;
}
.song-desc{
   color: rgb(201, 201, 201);
   margin-bottom: 0;
}